<% content_for(:title, @user.name) %>
<div class="container pt-3">
  <div class="row">
    <div class="col-md-2 text-center mb-2">
      <%= image_tag @user.avatar.url, class: 'rounded-circle', size: '150x150' %>
    </div>
    <div class="col-md-10 mb-2">
      <div class="row">
        <div class="col-md-7 mb-2">
          <h3 class="text-left fw-bold pt-2"><%= @user.name %></h3>
        </div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-sm-4">
              <p class="text-center fw-semibold">
                <%= link_to user_followings_path(@user), class: 'btn btn-outline-secondary rounded-pill' do %>
                  <%= t('header.follow') %> : <%= @user.followings.count %>
                <% end %>
              </p>
            </div>
            <div class="col-sm-4">
              <p class="text-center fw-semibold">
                <%= link_to user_followers_path(@user), class: 'btn btn-outline-secondary rounded-pill' do %>
                  <%= t('header.follower') %> : <%= @user.followers.count %>
                <% end %>
              </p>
            </div>
            <div class="text-center col-sm-4">
              <% if current_user == @user %>
                <%= link_to t('defaults.edit'), edit_user_path, class: 'btn btn-primary rounded-pill' %>
              <% else %>
                <%= render "relationships/follow_btn", user: @user, options: { class: ""} %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <% if current_user == @user %>
            <%= User.human_attribute_name(:email) %> :
            <%= current_user.email %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <p><%= simple_format(@user.introduction) %></p>
      </div>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="post-tab" data-bs-toggle="tab" data-bs-target="#post-tab-pane" type="button" role="tab" aria-controls="post-tab-pane" aria-selected="true"><%= t('.post') %></button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="post_question-tab" data-bs-toggle="tab" data-bs-target="#post_question-tab-pane" type="button" role="tab" aria-controls="post_question-tab-pane" aria-selected="false"><%= t('.post_question') %></button>
      </li>
      <% if current_user == @user %>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="post_comment-tab" data-bs-toggle="tab" data-bs-target="#post_comment-tab-pane" type="button" role="tab" aria-controls="post_comment-tab-pane" aria-selected="false"><%= t('header.bookmark_index') %></button>
        </li>
      <% end %>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="post-tab-pane" role="tabpanel" aria-labelledby="post-tab" tabindex="0"><%= render 'user_posts' %></div>
      <div class="tab-pane fade" id="post_question-tab-pane" role="tabpanel" aria-labelledby="post_question-tab" tabindex="0"><%= render 'question_posts' %></div>
      <% if current_user == @user %>
        <div class="tab-pane fade" id="post_comment-tab-pane" role="tabpanel" aria-labelledby="post_comment-tab" tabindex="0"><%= render 'bookmark_posts' %></div>
      <% end %>
    </div>
  </div>
</div>
