<div class="col-sm-12 col-lg-4 mb-3">
	<div id="post-id-<%= post.id %>">
		<div class="card">
			<%= video_tag post.movie.url, class: 'card-img-top', size: '300*200', controls: true, autobuffer: true %>
			<div class="card-body">
				<div class="d-flex">
					<h4 class="card-title">
						<%= link_to post.title, post_path(post) %>
					</h4>
					<div class="ms-auto">
						<% if current_user.own?(post) %>
							<%= render 'posts/crud_menus', post: post %>
						<% else %>
							<%= render 'posts/bookmark_button', post: post %>
						<% end %>
					</div>
				</div>
				<ul class="list-inline">
					<li><i class="bi bi-person"></i><%= link_to post.user.name, user_path(post.user) %></li>
					<li><i class="bi bi-calendar"></i><%= l post.created_at, format: :short %></li>
				</ul>
				<p class="card-text"><%= post.body %></p>
			</div>
		</div>
	</div>
</div>
