<% content_for(:title, @post.title) %>
<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <!-- 掲示板内容 -->
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-12'>
              <%= video_tag @post.movie.url, class: 'product-img', controls: true, autobuffer: true %>
            </div>
            <div class='col-md-9'>
              <h3 style='display: inline;'><%= @post.title %></h3>
              <ul class="list-inline">
                <li class="list-inline-item">by <%= @post.user.name %></li>
                <li class="list-inline-item"><%= l @post.created_at, format: :long %></li>
              </ul>
            </div>
            <div class="d-flex">
              <%= render 'crud_menus', post: @post if current_user.own?(@post) %>
            </div>
          </div>
          <p><%= simple_format(@post.body) %></p>
        </div>
      </article>
    </div>
  </div>

  <!-- コメントフォーム -->
  <%= render 'comments/form', { post: @post, comment: @comment } %>  

  <!-- コメントエリア -->
  <%= render 'comments/comments', { comments: @comments } %>
</div>