<% content_for(:title, @post.title) %>
<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <!-- 掲示板内容 -->
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-12'>
              <%= video_tag @post.movie.url, class: 'product-img', controls: true, autobuffer: true %>
            </div>
            <div class='col-md-9'>
              <% if @post.post_status == "質問動画" %>
                <div class="badge bg-success text-wrap fs-5 mb-2">
                  <%= @post.post_status %>
                </div>
              <% end %>
              <% if @post.favorited_by?(current_user) %>
                <%= link_to post_favorites_path(@post), class:"userList", method: :delete do %>
                  <i class="bi bi-suit-heart-fill" aria-hidden="true" style="color: red;"></i>
                  <span class='fw-bold'><%= @post.favorites.count %></span>
                <% end %>
              <% else %>
                <%= link_to post_favorites_path(@post), class:"userList", method: :post do %>
                  <i class="bi bi-suit-heart-fill" aria-hidden="true"></i>
                  <span class='fw-bold'><%= @post.favorites.count %></span>
                <% end %>
              <% end %>
              <div class='d-flex'>
                <h3 style='display: inline;'><%= @post.title %></h3>
                <div class="ms-auto">
                  <%= render 'crud_menus', post: @post if current_user.own?(@post) %>
                </div>
              </div>
              <% @post_tags.each do |tag| %>
                <span class="badge rounded-pill bg-primary text-decoration-none text-white mb-2">
                  <%= tag.name %>
                </span>
              <% end %>
              <ul class="list-inline">
                <li class="list-inline-item">by <%= @post.user.name %></li>
                <li class="list-inline-item"><%= l @post.created_at, format: :long %></li>
              </ul>
            </div>
          </div>
          <p><%= simple_format(@post.body) %></p>
        </div>
      </article>
    </div>
  </div>

  <!-- コメントフォーム -->
  <%= render 'comments/form', { post: @post, comment: @comment } %>  

  <!-- コメントエリア -->
  <%= render 'comments/comments', { comments: @comments } %>
</div>